################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sctm.discordbot/.vs/sctm.discordbot
