################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sctm.discordbot/.vs/sctm.discordbot
/sctm.discordbot/sctm.discordbot/bin/Debug/netcoreapp3.1
/sctm.discordbot/sctm.discordbot/obj
/sctm.discordbot/sctm.discordbot/appsettings.development.json
/sctm.discordbot/sctm.discordbot/bin/Release/netcoreapp3.1
/sctm.discordbot/sctm.discordbot/Properties/PublishProfiles
/sctm.discordbot/sctm.discordbot/appsettings.global.json
/sctm.services.discordBot/sctm.services.discordBot/.vs/sctm.services.discordBot/v16
/sctm.services.discordBot/sctm.services.discordBot/sctm.services.discordBot/bin/Debug/netcoreapp3.1
/sctm.services.discordBot/sctm.services.discordBot/sctm.services.discordBot/obj
/sctm.services.discordBot/sctm.services.discordBot/sctm.services.discordBot/appsettings.Development.json
/sctm.services.discordBot/sctm.services.discordBot/.vs/sctm.services.discordBot/DesignTimeBuild
/sctm.services.discordBot/sctm.services.discordBot/sctm.services.discordBot/bin/Release/netcoreapp3.1
/sctm.services.discordBot/sctm.services.discordBot/sctm.services.discordBot/Properties/PublishProfiles
